*{
    margin: 0;
    padding: 0;
    block-size: border-box;
}

.container{
    max-width: 1920px;
    margin: 0 auto;
}

nav{
    padding: 1rem;
    background-color: brown;
    
}
.nav-con{
    display: flex;
    justify-content: space-between;
}

.logo a{
    font-size: 4rem;
    color: indianred;
    text-decoration: none;
}

.logo img{
    height: 100px;
    width: 100px;
}

.menu{
    display: flex;
    list-style: none;
    align-items: center;
}

.menu li{
    margin: 0 1rem;
}

.menu li a{
    color: blue;
    text-decoration: none;
}

.maincontent-con{
    background-color: blanchedalmond;
}

.maincontent-con{
    display: flex;
}
.maincontent-info{
    width:100%;
    padding: 3rem-;
}
.maincontent-info h3{
 font-size: 2rem ;
 color: brown;
}
.maincontent-info p{
   margin: 1rem 0;
}

.maincontent-info .maincontent-btn{
    background-color:tomato;
    color:sandybrown;
    padding: 1rem;
    border-radius: 10px;
    text-decoration: none;
}
.maincontent-img{
    width: 100%;
    padding: 2rem;
    border-radius: 5px;
}

.container-con{
display: grid ;
grid-template-columns: 1fr 1fr 1fr ;
columns: 2rem;
}

.content-item img{
 width:70% ;
}

.content-item h4{
margin-top: 1rem;
}

.content-item p{
    margin: 1rem;
}

.content-item a{
    display: inline-block;
    color: aqua;
    background-color: blueviolet;
    padding: 1rem 1rem ;
    border-radius: 10px;
    text-decoration: none;
}

.footer-top{
    margin-top:3rem ;
    padding: 3rem;
 background-color: bisque;
 color: black;
}



.footer-top-con{
    display: grid ;
grid-template-columns: 1fr 1fr 1fr ;
column-gap:2rem ;
}

.footer-top-item-con{
    display:flex ;
    margin: 1rem 0;
}

.footer-top-item-con .date{
    background-color: burlywood;
    color: darksalmon;
    padding:0,5rem ;
    border-radius: 10px;
    text-align: center;
    margin-right: 10px;
}

.footer-top-item:nth-child(2) h4,
.footer-top-item:nth-child(3) h4{
    margin-bottom:1rem ;
}

.footer-button{
    background-color: bisque;
    padding: 1rem;
    text-align: center;
}